
body{
    background-color: rgb(124, 105, 54);
}
.queso{
  width: 75px;
  height: 50px;
  background: yellow;
  border: 5px solid black;
}
.pimiento{
  width: 75px;
  height: 50px;
  background: green;
  border: 5px solid black;
}
.hawaiana{
  width: 75px;
  height: 50px;
  background: orange;
  border: 5px solid black;
}
.peperoni{
  width: 75px;
  height: 50px;
  background:red;
  border: 5px solid black;
}

.circle {
    position: relative;
    border:    10px solid black;
    padding: 0;
    margin:auto;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
  }
  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
  }
  .text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(45deg) rotate(15deg);
    padding-top: 20px;
   
  }
  li:first-child {
    transform: rotate(0deg) skewY(-45deg);
    border:1px solid black;
  }
  li:nth-child(2) {
    transform: rotate(45deg) skewY(-45deg);
    border:1px solid black;
  }
  li:nth-child(3) {
    transform: rotate(90deg) skewY(-45deg);
    border:1px solid black;
  }
  li:nth-child(4) {
    transform: rotate(135deg) skewY(-45deg);
    border:1px solid black;
  }
  li:nth-child(5) {
    transform: rotate(180deg) skewY(-45deg);
    border:1px solid black;
  }
  li:nth-child(6) {
    transform: rotate(225deg) skewY(-45deg);
    border:1px solid black;
  }
  li:nth-child(7) {
    transform: rotate(270deg) skewY(-45deg);
    border:1px solid black;
  }
  li:nth-child(8) {
    transform: rotate(315deg) skewY(-45deg);
    border:1px solid black;
  }
 

  li:first-child .text {
    background:tomato;
  }
  li:nth-child(2) .text {
    background: tomato;
  }
  li:nth-child(3) .text {
    background: tomato;
  }
  li:nth-child(4) .text {
    background: tomato;
  }
  li:nth-child(5) .text {
    background: tomato;
  }
  li:nth-child(6) .text {
    background: tomato;
  }
  li:nth-child(7) .text {
    background: tomato;
  }
  li:nth-child(8) .text {
    background: tomato;
  }
 